<ah:page root="true">
    <ah:css href="https://www.w3schools.com/w3css/4/w3.css"/>
    <ah:css href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <ah:css src="./style.css"/>
    <ah:css src="./pageStyle.css"/>
    <ah:script src="./controller.js"/>
    <ah:script src="./pageController.js"/>
    <ah:body>
        <ah:toast id="toast"/>
        <ah:spinner id="spinner"/>
        <ah:modalSpinner id="modalSpinner"/>
        <ah:content>
            <ah:header/>
            <ah:pageContent/>
            <ah:footer/>
        </ah:content>
    </ah:body>
</ah:page>