<html>

    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    </head>
    <style>
        .style {}

        .pageStyle {}
    </style>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 28" id="path">
            <path d="M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717 24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201 L141.371843,76.386562" transform="translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)"></path>
        </symbol>
    </svg>

    <body>
        <!-- TOAST START -->
        <div id="toast" class="toast"></div>
        <!-- TOAST END -->
        <!-- LOADER START -->
        <div id="spinner" style="position: absolute; left: 50%; top: 50%;">
            <div style="width: 120px; height: 120px; position: absolute; left: -50%;">
                <div class="loader1"></div>
            </div>
            <div style="width: 120px; height: 120px; position: absolute; left: -50%;">
                <div class="loader2"></div>
            </div>
            <div style="width: 120px; height: 120px; position: absolute; left: -50%;">
                <div class="loader3"></div>
            </div>
            <div style="width: 120px; height: 120px; position: absolute; left: -50%;">
                <div class="loader4"></div>
            </div>
        </div>
        <!-- LOADER START -->
        <!-- MODAL LOADER START -->
        <div id="modalSpinner" class="w3-modal" style="display: none;">
            <div class="w3-modal-content" style="background-color: #ffffff00;">
                <div style="position: absolute; left: 50%; top: 50%">
                    <div style="width: 120px; height: 120px; top: 50%; position: fixed;">
                        <div class="loader1"></div>
                    </div>
                    <div style="width: 120px; height: 120px; top: 50%; position: fixed;">
                        <div class="loader2"></div>
                    </div>
                    <div style="width: 120px; height: 120px; top: 50%; position: fixed;">
                        <div class="loader3"></div>
                    </div>
                    <div style="width: 120px; height: 120px; top: 50%; position: fixed;">
                        <div class="loader4"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL LOADER START -->
        <!-- PAGE CONTENT START -->
        <div id="mainContent" class="w3-container" style="min-height: 85%; overflow: scroll; padding-top:  80px; padding-bottom: 80px; display:none;">
            <!-- HEADER START -->
            <div class="w3-top">
                <div class="w3-bar">
                    <div class="w3-container w3-center header w3-border-bottom">
                        <h1 id="titlePage">{!title}</h1>
                    </div>
                </div>
            </div>
            <!-- HEADER END -->
            <div id="pageContent" style="height: 85%;">
                <div class="info" id="pageInfo" style="display: none;"></div>
                <div class="success" id="pageSuccess" style="display: none;"></div>
                <div class="warning" id="pageWarning" style="display: none;"></div>
                <div class="validation" id="pageValidation" style="display: none;"></div>
                <div class="error" id="pageError" style="display: none;"></div>
                {!pageContent}
            </div>
            {!footer}
        </div>
        <!-- PAGE CONTENT END -->
    </body>
    <script>
        function showContent() {
            document.getElementById("spinner").style.display = 'none';
            document.getElementById("modalSpinner").style.display = 'none';
            document.getElementById("mainContent").style.display = 'block';
        }

        function showSpinner() {
            document.getElementById("spinner").style.display = 'block';
            document.getElementById("mainContent").style.display = 'none';
        }

        function openSpinnerModal() {
            document.getElementById("modalSpinner").style.display = 'block';
        }

        function closeSpinnerModal() {
            document.getElementById("modalSpinner").style.display = 'none';
        }

        function cancel() {
            vscode.postMessage({ command: 'cancel' });
        }

        function formatStr(str, ocurrences) {
            let index = 0;
            for (let ocurrence of ocurrences) {
                str = str.split('{' + index + '}').join(ocurrence);
                index++;
            }
            return str;
        }

        function showToast(message, millis) {
            if (!millis)
                millis = 3000;
            document.getElementById("toast").innerHTML = message;
            var toast = document.getElementById("toast");
            toast.className += " showToast";
            setTimeout(function () {
                toast.className = "toast"
            }, millis);
        }

        function showPageMessage(type, message) {
            if (type === 'error') {
                document.getElementById('pageError').innerHTML = message;
                document.getElementById('pageError').style.display = 'block';
            } else if (type === 'validation') {
                document.getElementById('pageValidation').innerHTML = message;
                document.getElementById('pageValidation').style.display = 'block';
            } else if (type === 'success') {
                document.getElementById('pageSuccess').innerHTML = message;
                document.getElementById('pageSuccess').style.display = 'block';
            } else if (type === 'warning') {
                document.getElementById('pageWarning').innerHTML = message;
                document.getElementById('pageWarning').style.display = 'block';
            } else if (type === 'info') {
                document.getElementById('pageInfo').innerHTML = message;
                document.getElementById('pageInfo').style.display = 'block';
            }
        }

        function closePageMessage(type) {
            if (type === 'error') {
                document.getElementById('pageError').innerHTML = '';
                document.getElementById('pageError').style.display = 'none';
            } else if (type === 'validation') {
                document.getElementById('pageValidation').innerHTML = '';
                document.getElementById('pageValidation').style.display = 'none';
            } else if (type === 'success') {
                document.getElementById('pageSuccess').innerHTML = '';
                document.getElementById('pageSuccess').style.display = 'none';
            } else if (type === 'warning') {
                document.getElementById('pageWarning').innerHTML = '';
                document.getElementById('pageWarning').style.display = 'none';
            } else if (type === 'info') {
                document.getElementById('pageInfo').innerHTML = '';
                document.getElementById('pageInfo').style.display = 'none';
            }
        }


        function closeAllPageMessages() {
            document.getElementById('pageError').innerHTML = '';
            document.getElementById('pageError').style.display = 'none';
            document.getElementById('pageValidation').innerHTML = '';
            document.getElementById('pageValidation').style.display = 'none';
            document.getElementById('pageSuccess').innerHTML = '';
            document.getElementById('pageSuccess').style.display = 'none';
            document.getElementById('pageWarning').innerHTML = '';
            document.getElementById('pageWarning').style.display = 'none';
            document.getElementById('pageInfo').innerHTML = '';
            document.getElementById('pageInfo').style.display = 'none';
        }

        function wrongInput(inputId) {
            let element = document.getElementById(inputId);
            let className = element.className;
            if (className.indexOf('wrongInput') === -1) {
                className += " wrongInput"
                element.className = className;
            }
        }
        
        function correctInput(inputId) {
            let element = document.getElementById(inputId);
            let className = element.className;
            if (className.indexOf('wrongInput') !== -1) {
                className = className.replace(" wrongInput", "");
                element.className = className;
            }
        }        

        function controller();
    </script>

</html>