:root {
    --light-blue: #9CDCFE;
    --blue: #2391d1;
    --dark-blue: #0067FF;
    --blue-grey: #2f3640;
    --vscode-grey: #1E1E1E;
    --dark-grey: #141414ab;
    --black-grey: #141414;
    --dark-grey-transparent: #1a1a1a46;
    --transparent: #14141400;
    --light-yellow: #DCDCAA;
    --grey: #464646bd;
    --medium-grey: #4444447a;
    --light-grey: #808080bd;
    --very-light-grey: #D4D4D4;
    --green: #4CAF50;
    --bright-green: #77db34;
    --light-green: #8BC34A;
    --red: #F44336;
    --orange: #ce723b;
    --purple: #7c34db;
}

/*****************
 * HTML ELEMENTS *
 *****************/

body {
    height: 85%;
    font-size: small;
    text-align: justify;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

b {
    color: var(--blue);
}

a {
    color: var(--blue);
    text-decoration: none;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

code {
    font-family: Courier, 'New Courier', monospace;
    font-size: 14px;
}

option {
    background-color: var(--vscode-grey);
}

/***********
 * CLASSES *
 ***********/

.header {
    background-color: var(--vscode-grey);
}

.footer {
    background-color: var(--vscode-grey);
}

.sectionHeader {
    color: var(--blue);
    text-decoration: none;
}

.subsectionHeader {
    color: var(--light-blue);
}

.inputText {
    color: var(--light-yellow);
    border: none;
    background-color: var(--dark-grey);
    outline: none;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 3px;
}

.wrongInput {
    border-color: var(--red);
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
}

.menu {
    color: var(--light-blue);
    background-color: var(--transparent);
    text-decoration: none;
}

.menu:hover {
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;
}

.darkGrey {
    background-color: var(--dark-grey);
}

.grey {
    background-color: var(--grey);
}

.lightGrey {
    background-color: var(--light-grey);
}

#codeStyler {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 1em 0;
}

.codeColor {
    background-color: var(--transparent);
}

.save {
    color: var(--very-light-grey);
    border-color: var(--green);
    border-style: solid;
    border-width: 1px;
}

.save:hover {
    color: var(--green);
}

.altSave {
    color: var(--very-light-grey);
    border-color: var(--light-green);
    border-style: solid;
    border-width: 1px;
}

.altSave:hover {
    color: var(--light-green);
}

.warningBtn {
    color: var(--very-light-grey);
    border-color: var(--orange);
    border-style: solid;
    border-width: 1px;
}

.warningBtn:hover {
    color: var(--orange);
}

.cancel {
    color: var(--very-light-grey);
    border-color: var(--red);
    border-style: solid;
    border-width: 1px;
}

.cancel:hover {
    color: var(--red);
}

.collapse:hover {
    color: var(--blue);
}

.border-black-grey {
    border-color: var(--black-grey);
    border-width: 1px;
    border-style: solid;
}

.add {
    color: var(--very-light-grey);
    border-color: var(--light-yellow);
    border-style: solid;
    border-width: 1px;
}

.add:hover {
    color: var(--light-yellow);
}

.collapse {
    color: var(--very-light-grey);
    border-color: var(--blue);
    border-style: solid;
    border-width: 1px;
}

.collapseSubSection:hover {
    color: var(--light-blue);
}

.collapseSubSection {
    color: var(--very-light-grey);
    border-color: var(--light-blue);
    border-style: solid;
    border-width: 1px;
}

.sectionRow:hover {
    background-color: var(--medium-grey);
}

.material-icons.md-light {
    color: var(--very-light-grey);
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-40 {
    font-size: 40px;
}

.material-icons.md-32 {
    font-size: 32px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-14 {
    font-size: 14px;
}

.material-icons.md-10 {
    font-size: 10px;
}

.liElement {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAY0lEQVR4AWMYAPBf6L8DCrT/z4upiO3/9f+o4M1/FUxlev9/oyk7/58FU1nlf3TQi6mI6f8ZDGXOmMqU/39HU/T6vwi6Irn/XzAUSaBbdxTTOqIcTjgI2DACE8M1KqREC/0BAMDF3Zv1UEbzAAAAAElFTkSuQmCC') no-repeat left top;
    vertical-align: middle;
    padding-left: 25px;
    padding-top: 0px;
    margin-bottom: 5px;
}

.table {
    border-color: var(--dark-grey);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.tableRow {
    border-color: var(--dark-grey);
    border-style: solid;
    border-width: 1px;
}

.tableRow:hover {
    background-color: var(--dark-grey);
}

.tableHeaderRow {
    background-color: var(--dark-grey);
}

.tableHeaderCell {
    border-color: var(--dark-grey);
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    cursor: pointer;
}

.tableHeaderCell:hover {
    color: var(--blue);
}

.tableCell {
    border-color: var(--dark-grey);
}

.modal {
    background-color: var(--dark-grey-transparent);
    z-index: 0.9;
}

.modalHeader {
    background-color: var(--black-grey);
}

.modalFooter {
    background-color: var(--black-grey);
}

.modalContent {
    background-color: var(--vscode-grey);
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    white-space: pre-wrap;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.metadataList {
    list-style: none;
    padding: 0;
}

.metadataListElement {
    height: 37px;
    padding: 5px 10px;
    border: 1px solid var(--dark-grey-transparent);
    white-space: nowrap;
    cursor: pointer;
}

.metadataListElement:hover {
    color: var(--blue);
    background-color: var(--black-grey);
}

.metadataListElement:hover>.metadataContentColor {
    color: var(--blue);
    background-color: var(--black-grey);
}

.metadataListElement:hover>.metadataContentSelected {
    color: var(--blue);
    background-color: var(--black-grey);
}

.metadataContentSelected {
    color: var(--green);
}

.metadataContentSelected:hover {
    color: var(--blue);
}

.metadataContentColor {
    color: var(--very-light-grey);
}

.metadataContentColor:hover {
    color: var(--blue);
}

/* SPINNER START */

.loader1 {
    border: 5px solid var(--medium-grey);
    border-radius: 50%;
    border-bottom: 5px solid var(--blue);
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    z-index: 1;
}

.loader2 {
    border: 5px solid var(--medium-grey);
    border-radius: 50%;
    border-right: 5px solid var(--purple);
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1.5s linear infinite;
    /* Safari */
    animation: spin 1.5s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    z-index: 1;
}

.loader3 {
    border: 5px solid var(--medium-grey);
    border-radius: 50%;
    border-left: 5px solid var(--bright-green);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: 1;
}

.loader4 {
    border: 5px solid var(--medium-grey);
    border-radius: 50%;
    border-top: 5px solid var(--red);
    width: 40px;
    height: 40px;
    -webkit-animation: spin 0.5s linear infinite;
    /* Safari */
    animation: spin 0.5s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* SPINNER END */

/* CHECKBOX START */

.checkbox-container {
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    padding: 40px 0px;
}

.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #FFFFFF;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid var(--blue);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked~.checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid var(--blue);
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

/* For Ripple Effect */

.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid white;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.checkbox-label input:checked~.checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.checkbox-label .checkbox-custom.circular {
    border-radius: 50%;
    border: 2px solid white;
}

.checkbox-label input:checked~.checkbox-custom.circular {
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
}

.checkbox-label input:checked~.checkbox-custom.circular::after {
    border: solid var(--dark-blue);
    border-width: 0 2px 2px 0;
}

.checkbox-label .checkbox-custom.circular::after {
    border-radius: 50%;
}

.checkbox-label .checkbox-custom.circular::before {
    border-radius: 50%;
    border: 2px solid white;
}

.checkbox-label input:checked~.checkbox-custom.circular::before {
    border-radius: 50%;
}

/* CHECKBOX END */

/* SEARCH INPUT START */

.searchBox {
    height: 40px;
    padding: 10px;
    width: 60px;
    transition: 0.4s;
}

.searchInput:hover>.searchBox {
    width: 100%;
    transition: 0.4s;
}

.searchBox:hover {
    width: 100%;
}

.searchBox:hover>.searchInput {
    width: 80%;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: var(--blue-grey);
}

.searchButton {
    color: white;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--blue-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background-color: var(--dark-grey);
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    border-radius: 40px;
}

.searchInput:not(:placeholder-shown)~.searchButton {
    background: white;
    color: var(--blue-grey);
}

@media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 80%;
        padding: 0 6px;
    }
}

/* SEARCH INPUT END */

/* TOAST START */

.toast {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: var(--dark-grey);
    /* Black background color */
    color: white;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: absolute;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
    white-space: pre-wrap;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

.showToast {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    z-index: 1;
    /* Add a z-index if needed */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 60px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 60px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 60px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 60px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* TOAST END */